{%extends 'padrao.html' %}
{% load static %}

{%block 'titulo' %} Hoteis Aprovados Django {%endblock%}

{%block 'conteudo'%}

<section>
    <div class="container">
        <br>
        <h2 class="jumbotrom">Bem vindo! aqui você encontra os melhores hoteis</h2>
        <br>
        <div class="card" style="width: 22rem;">
          <img src="{% static 'img/hotel_dracula.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Hotel Dracula</h5>
            <p class="card-text">Hotel perfeito para quem gosta de filmes de terror e principalmente vampiros.</p>
              {% if user.is_authenticated%}
                <a href="{%url 'reserva' %}" class="btn btn-primary">Reservar</a>
              {% else %}
                <a href="{%url 'user' %}" class="btn btn-primary">Reservar</a>
              {% endif %}
          </div>
        </div>
        <br>
        <div class="card" style="width: 22rem;">
          <img src="{% static 'img/hotel_princesa.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Hotel Princesas</h5>
            <p class="card-text">Sonho de muitas meninas, esse hotel e recomendado para quem quer passar um final de semana de princesa.</p>
            {% if user.is_authenticated%}
                <a href="{%url 'reserva' %}" class="btn btn-primary">Reservar</a>
              {% else %}
                <a href="{%url 'user' %}" class="btn btn-primary">Reservar</a>
              {% endif %}
          </div>
        </div>
        <br>
        <div class="card" style="width: 22rem;">
          <img src="{% static 'img/hotel_rico.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Hotel Gormet</h5>
            <p class="card-text">Hotel para pessoas ricas, um copo de agua neste hotel custa R$13,00.</p>
            {% if user.is_authenticated%}
                <a href="{%url 'reserva' %}" class="btn btn-primary">Reservar</a>
              {% else %}
                <a href="{%url 'user' %}" class="btn btn-primary">Reservar</a>
              {% endif %}
          </div>
        </div>
        <br>
    </div>
</section>

{%endblock%}